$ORIGIN 10.0.10.in-addr.arpa.
$TTL 360

@         IN      SOA   ns1.qwaup. qwaup.yandex.ru. (

                                2023091101 ; serial number

                                360        ; refresh

                                360        ; update retry

                                360         ; expiry

                                360         ; minimum

                                )

@           IN      NS      ns1.qwaup.

254    IN     PTR    gw001-home.qwaup.
253    IN     PTR    proxmox01.qwaup.
252    IN     PTR    files.qwaup.
251    IN     PTR    keenetic.qwaup.
250    IN     PTR    tl.qwaup.
249    IN     PTR    dns01.qwaup.
248    IN     PTR    git01.qwaup.
247    IN     PTR    doc01.qwaup.
151    IN     PTR    taw001.qwaup.
